<div class='registrations-main'>

  <div class='registrations-sub'>
    <div class='registrations-title'>
        <%= link_to image_tag("logo.png", class:"registrations-logo"), "/" %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :nickname, autofocus: true, placeholder: " ニックネーム", class:"input-default" %>
      </div>  

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: " メールアドレス", class:"input-default" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: " 6文字以上の半角英数字", class:"input-default" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " パスワード確認用", class:"input-default" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" ,class:"register-btn" %>
      </div>
    <% end %>

    
  </div>
</div>
