<div class='new-page-header'>
    <div class='center-logo'>
      <%= link_to image_tag("logo.png", class:"logo"), "/" %>
    </div>
</div>

<div class="contents">
  <div class="container">
    <h3>更新する</h3>
    <div class="record-form">
      <%= form_with(model: @record, local: true) do |form| %>
        
          <div class="record-form-contents">
            <label>date</label>
            <%= form.date_field :date, class:'form-date' %>
          </div>
          
          <div class="record-form-contents">
            <label>goal</label>
            <%= form.text_area :goal, placeholder: "例)英語がんばる！", class: 'form-goal' %>
          </div>

          <div class="record-form-contents">
            <label>to do List</label>
            <div class="record-form-content-1">
              <%= form.text_field :title, placeholder: "例)英語", class: 'form-title' %>
              <%= form.text_field :title_detail, placeholder: "例)英単語帳 p10~p15", class: 'form-title_detail' %>
            </div>
          </div>

          <div class="record-form-contents">
            <label>total time</label>
            <div class="record-form-content-2">
              <%= form.time_select :total_time, class:'form-total_time' %>
            </div>
          </div>

          <div class="record-form-contents">
            <label>note</label>
            <%= form.text_area :note, placeholder: "例)今日も楽しかった！", class: 'form-note' %>
          </div>
       
          <%= form.submit "更新" ,class: 'record-btn' %>
       
      <% end %>
    </div>
  </div>
</div>