<header class='my-page-header'>
  
  <div class='nav'>
    <div class='left-logo'>
      <%= image_tag "logo.png", class:"logo" %>
    </div>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>  
        <li><%= link_to '編集', edit_record_path(@record.id), method: :get, class: "record-edit" %></li>
        <li><%= link_to '削除', record_path(@record.id), method: :delete, class: "record-destroy" %></li>
      <% else %> 
        
      <% end %> 
    </ul>
  </div>

</header>

    <h3>記録</h3>
    
      <div class='form-date'>
        <%= @record.date %>
      </div>
      <div class='form-goal'>
        <%= @record.goal %>
      </div>
      <div class='form-title'>
        <%= @record.title %>
      </div>
      <div class='form-title_detail'>
        <%= @record.title_detail %>
      </div>
      <div class='form-total_time'>
       <%= @record.total_time.strftime("%H:%M") %>
      <div class='form-note'>
        <%= @record.note %>
      </div>