<header class='my-page-header'>
  
  <div class='my-page-nav'>
    <div class='left-space'>
    </div>
    <div class='center-logo'>
      <%= link_to image_tag("logo.png", class:"logo"), "/" %>
    </div>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>  
        <li><%= link_to '編集', edit_record_path(@record.id), method: :get, class: "record-edit" %></li>
        <li><%= link_to '削除', record_path(@record.id), method: :delete, class: "record-destroy" %></li>
      <% else %> 
        
      <% end %> 
    </ul>
  </div>

</header>

<div class="contents">
  <div class="container">
    <h3>記録</h3>
    <div class="record-form">
    
      <div class="record-form-contents">
        <label>date</label>
        <div class='form-date'><%= @record.date %></div>
      </div>

      <div class="record-form-contents">
        <label>goal</label>
        <div class='form-goal'><%= @record.goal %></div>
      </div>

      <div class="record-form-contents">
        <label>to do List</label>
        <div class="record-form-content-1">
          <div class='form-title'><%= @record.title %></div>
          <div class='form-title_detail'><%= @record.title_detail %></div>
        </div>
      </div>

      <div class="record-form-contents">
        <label>total time</label>
        <div class="record-form-content-2">
         <div class='form-total_time'><%= @record.total_time.strftime("%H:%M") %></div>
        </div>
      </div>

      <div class="record-form-contents">
        <label>note</label>
        <div class='form-note'><%= @record.note %></div>
      </div>

    </div>
  </div>
</div>